#parse("header.vm")

<div class="popup-information">
				<form action="./loginUser" method="post">
					<label>Identifiant</label><br/><input type="text" name="login" title="login" /><br/>
					<label>Mot de passe</label><br/><input type="password" name="mdp" title="password" /><br/>
					<input class="button" type="submit" value="Se connecter" />
				</form>
			</div>
			
<section>
	
	#foreach ($news in $newsList)
		<form>
			<div class="article">
				<h1>$news.getTitle()</h1>
				#if($idUser > 0)
					<input id="ajouter-actualite" type="button" value="+" />
					<input id="supprimer-actualite" type="submit" value="-" />	
				#end
				
				$news.getText()
				
			</div>
		</form>
	#end
	
</section>

</div>
			
#parse("footer.vm")