#parse("header.vm")
			
<section>
	
	#foreach ($news in $newsList)
		<form>
			<div class="article">
				<h1>$news.getTitle()</h1>
				#if($idUser > 0)
					<form id="" action="./deleteNews" method="post" onsubmit="return confirm('Êtes vous sur ?');">
						<input type="hidden" name="idNews" value="$news.getId()"/>
						<input id="supprimer-actualite" type="submit" value="-" />	
					</form>
			
				#end
				$news.getId()
				$news.getText()
				
			</div>
		</form>
	#end
	
</section>

</div>
			
#parse("footer.vm")