#parse("header.vm")

<div id="popup-ajout-actualite" class="popup-cadre">
	<div class="popup-titre">
		<label>Ajouter actualit&eacute;</label><br>
	</div>
	<div class="popup-information">
		<form action="./addNews" method="post">
			<label>Titre</label><br/>
			<input id="title" type="text" name="title" title="title" /><br/>
			<label>Contenu</label><br/>
			<textarea id="text" name="text" title="text" rows="10" cols="35"></textarea>
			<input class="button" type="submit" value="Ajouter" />
		</form>
	</div>
</div>

<section>

	#foreach ($news in $newsList)
		<div class="article">
			<h1>$news.getTitle()</h1>
			#if($idUser > 0)
				<form id="" action="./deleteNews" method="post" onsubmit="return confirm('&ecirc;tes vous sur ?');">
					<input type="hidden" name="idNews" value="$news.getId()"/>
					
					<input class="supprimer-actualite" type="submit" value="-" />
				</form>

			#end
			$news.getId()
			$news.getText()

		</div>
	#end

</section>

<article>
	<input class="ajouter-actualite" type="button" value="+" />
</article>

</div>

#parse("footer.vm")
