    		<footer>
				<div id="footer_links">
					<ul>
						<li style="color: black;">PandaRouxCorp copyright 2015</li>
					</ul>
				</div>
			</footer>
		</div>
		
		<script>#parse("jquery.vm")</script>
		<script>#parse("functions.vm")</script>
    </body>
</html>