$(document).ready(function(){
	$("#signup-link").click(function(){
		$("#background-login").fadeIn();
		$("#popup-login").fadeIn();
		$("#body").css("overflow", "hidden");
	});
	
	$("#background-login").click(function(){
		$("#background-login").fadeOut();
		$("#popup-login").fadeOut();
		$("#body").css("overflow", "auto");
	});

	/*$("#supprimer-actualite").click(function(){
		// var confirm = confirm("Voulez-vous vraiment supprimer cette actualite ?");
		var supprimer = confirm("Voulez-vous vraiment supprimer cette actualite ?");
		if(supprimer == true){
			var a = $(this).parent().parent();
			$(this).parent().parent().submit();
			alert("Actualité supprimée");
		}
	});*/
});