<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>Panda Roux Corp</title>
		#parse("style.vm")
	</head>

	<body>
		<div id="background-login">
			<!-- <img id="background-login-image" src="background-login.png"> -->
		</div>
		<div id="popup-login">
			<div class="popup-titre">
				<label>Connexion</label><br>
			</div>
			<div class="popup-information">
				<form action="./loginUser" method="post">
					<label>Identifiant</label><br/><input type="text" name="login" title="login" /><br/>
					<label>Mot de passe</label><br/><input type="password" name="mdp" title="password" /><br/>
					<input class="button" type="submit" value="Se connecter" />
				</form>
			</div>
		</div>
		<div id="page">
			<header>
				<nav>
					<h1>PANDA ROUX CORP</h1>
					<ul class="liens">
						<li><a href="./">ACTUALITÉ</a></li>
						<li><a href="mission">NOTRE MISSION</a></li>
						<li><a href="projets">NOS PROJETS</a></li>
						<li><a href="jobs">JOBS</a></li>
					</ul>
					<ul class="lien-connexion">
						#if($idUserTest > 0)
							<li><a id="logout-link" href="./logout">DECONNEXION</a></li>
						#else
							<li><a id="signup-link" href="#">CONNEXION</a></li>
						#end
					</ul>
				</nav>
			</header>
		<div>