#parse("header.vm")

<div id="popup-ajout-projet" class="popup-cadre">
	<div class="popup-titre">
		<label>Ajouter actualit&eacute;</label><br>
	</div>
	<div class="popup-information">
		<form action="./addProject" method="post">
			<label>Titre</label><br/>
			<input id="title" type="text" name="title" title="title" /><br/>
			<label>Image</label>
			<input id="picture" name="picture" title="picture" type="file" />
			<label>Contenu</label><br/>
			<textarea id="text" name="text" title="text" rows="10" cols="35"></textarea>
			<input class="button" type="submit" value="Ajouter" />
		</form>
	</div>
</div>

<section>
#foreach ($project in $projects)
	<div class="article">
		<h1>$project.getTitle()</h1>
		#if($project)
			<img src="$project.getPicture()">
		#end
		<div class="project-text">
			$project.getText()
		</div>
	</div>
#end
</section>

<article>
	#if($idUser > 0)
		<input id="ajouter-projet" class="ajouter-actualite" type="button" value="+" />
	#end
</article>

</div>

#parse("footer.vm")